<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Delicious - Food Blog Template | Home</title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">


</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <i class="circle-preloader"></i>
        <img src="img/core-img/salad.png" alt="">
    </div>

    <!-- Search Wrapper -->
    <!-- <div class="search-wrapper"> -->
        <!-- Close Btn -->
        <!-- <div class="close-btn"><i class="fa fa-times" aria-hidden="true"></i></div> -->

        <!-- <div class="container">
            <div class="row">
                <div class="col-12">
                    <form action="#" method="post">
                        <input type="search" name="search" placeholder="Type any keywords...">
                        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div> -->

    <!-- ##### Header Area Start ##### -->
    <header class="header-area font">

        <!-- Navbar Area -->
        <div class="delicious-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="deliciousNav">

                        <!-- Logo -->
                        <a class="nav-brand" href="/"><img src="img/core-img/logo.png" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li><a href="upload-receipe.ejs">Upload Receipies</a>
                                    </li>
                                    <li><a href="receipe-post.ejs">Receipies</a></li>
                                    <!-- <li><a href="receipe-post.ejs">4 Vegans</a></li> -->
                                    <li><a href="contact.ejs">Contact</a></li>

                                    <% if (cookies.uid) { %>
                                        <li><a href="profile.ejs">Profile</a></li>
                                        <li class="active"><a href="/logout" class="login-button">Logout</a></li>
                                        <% } else { %>
                                            <li class="active"><a href="/login" class="login-button active">Login</a>
                                            </li>
                                            <li class="active"><a href="/signup" class="signup-button active">Signup</a>
                                            </li>
                                            <% } %>
                                </ul>

                                <!-- Newsletter Form -->
                                <!-- <div class="search-btn">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </div> -->
                                    <!-- <div class="search-btn">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                        <span class="text" style="color: gray;">Search Testy...</span>
                                    </div> -->
                                
                                                                

                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Hero Area Start ##### -->
    <section class="hero-area">
        <div class="hero-slides owl-carousel">
            <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img" style="background-image: url(img/bg-img/bg1.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                            <div class="hero-slides-content" data-animation="fadeInUp" data-delay="100ms">
                                <h2 data-animation="fadeInUp" data-delay="300ms">Share Your Best Recipe with the World!</h2>
                                <p data-animation="fadeInUp" data-delay="700ms">Have a recipe that everyone loves? Don't keep it a secret—share it with our community! Whether it's your signature dish or a family favorite, we want to showcase it.</p>
                                <a href="upload-receipe.ejs" class="btn delicious-btn" data-animation="fadeInUp" data-delay="1000ms">Upload Your Recipe Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            

            <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img" style="background-image: url(img/bg-img/bg5.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                            <div class="hero-slides-content" data-animation="fadeInUp" data-delay="100ms">
                                <h2 data-animation="fadeInUp" data-delay="300ms">Share Your Best Recipe with the World!</h2>
                                <p data-animation="fadeInUp" data-delay="700ms">Have a recipe that everyone loves? Don't keep it a secret—share it with our community! Whether it's your signature dish or a family favorite, we want to showcase it.</p>
                                <a href="upload-receipe.ejs" class="btn delicious-btn" data-animation="fadeInUp" data-delay="1000ms">Upload Your Recipe Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            

            <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img" style="background-image: url(img/bg-img/bg6.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                            <div class="hero-slides-content" data-animation="fadeInUp" data-delay="100ms">
                                <h2 data-animation="fadeInUp" data-delay="300ms">Share Your Best Recipe with the World!</h2>
                                <p data-animation="fadeInUp" data-delay="700ms">Have a recipe that everyone loves? Don't keep it a secret—share it with our community! Whether it's your signature dish or a family favorite, we want to showcase it.</p>
                                <a href="upload-receipe.ejs" class="btn delicious-btn" data-animation="fadeInUp" data-delay="1000ms">Upload Your Recipe Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
    <!-- ##### Hero Area End ##### -->


    <!-- ##### Best Receipe Area Start ##### -->
    <section class="best-receipe-area"style="width: 100%;">
        <div class="container"style="width: 100%;">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h3>The best Recipes</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <% events.forEach((event)=> { %>
                    <!-- <div class="col-12 col-sm-6 col-lg-4"> -->
                        <div class="single-best-receipe-area mb-30 shadow padding height1"style="width:360px;margin-left:20px;align-items:center;">
                            <% if (event.images && event.images.length> 0) { %>
                                <!-- Use the file path to load the image -->
                                <img src="/<%= event.images[0].filePath %>" alt="Recipe Image" style="height: 350px;">
                                <% } else { %>
                                    <!-- Default/fallback image if no image is available -->
                                    <img src="/path-to-default-image.jpg" alt="No image available"
                                        style="height: 350px;">
                                    <% } %>

                                        <a href="receipe-post.ejs/<%= event.receipeName %>" id="receName">
                                            <h3 style="margin-top: 2px;">
                                                <%= event.receipeName %>
                                            </h3>
                                        </a>
                                        <div class="get">                                      
                                        <span>
                                            <%= new Date(event.createdAt).toLocaleDateString('en-US', { year: 'numeric' ,
                                                month: 'long' , day: '2-digit' }) %>
                                        </span>
                                        <div class="accbtn">
                                        <a href="receipe-post.ejs/<%= event.receipeName %>" id="accept">
                                            <h6>
                                                Show Receipe
                                            </h6>
                                        </a>
                                    </div>
                                    </div>

                        </div>
                    <!-- </div> -->
                    <!-- <div class="padding"></div> -->
                    <% }) %>
            </div>
        </div>
    </section>


    <!-- ##### Small Receipe Area Start ##### -->
    <section class="small-receipe-area ">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h3>Some Receipies</h3>
                    </div>
                </div>
            </div>

            <div class="row">

                <!-- Small Receipe Area -->

                <% receipe.forEach(receip=> { %>
                    <div class="col-12 col-sm-6 col-lg-4  padding" style="width: 350px;">
                        <div class="single-small-receipe-area d-flex height align-items-center shadow padding" style="height: 100px;">
                            <!-- Receipe Thumb -->
                            <div class="receipe-thumb">
                                <!-- <img src="img/bg-img/sr1.jpg" alt=""> -->
                                <img src="/<%= receip.images[0].filePath %>" alt="Recipe Image" style="height: 82px;">
                            </div>
                            <!-- Receipe Content -->
                            <div class="receipe-content">
                                <span>
                                    <%= new Date(receip.createdAt).toLocaleDateString('en-US', { year: 'numeric' ,
                                        month: 'long' , day: '2-digit' }) %>
                                </span>
                                <a href="receipe-post.ejs/<%= receip.receipeName %>" id="receName">
                                    <h5>
                                        <%= receip.receipeName %>
                                    </h5>
                                </a>
                                <div class="accbtn1">
                                    <a href="receipe-post.ejs/<%= receip.receipeName %>" id="accept">
                                        <p>
                                            Show Receipe
                                        </p>
                                    </a>
                                </div>
                                <p>2 Comments</p>
                            </div>
                        </div>
                    </div>
                    <% }) %>


                        <!-- Small Receipe Area -->
            </div>
        </div>
    </section>
    <!-- ##### Small Receipe Area End ##### -->

    <!-- ##### Quote Subscribe Area Start ##### -->
    <div class="outer-container">
        <!-- Quote -->
        <div class="quote-area-here text-center">
            <h1>"</h1>
            <h5>Nothing is better than going home to family and eating good food and relaxing.</h6>
                <p>John Smith</p>
        </div>
    </div>
    <!-- ##### Quote Subscribe Area End ##### -->


    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area shadow">
        <div class="container h-100"style="display: flex;align-items: center;justify-content: center;">
            <div class="row h-100">
                <div class="col-12 h-100 d-flex flex-wrap align-items-center justify-content-between">
                    <div class="footer-logo">
                        <a href="/"><img src="img/core-img/logo.png" alt=""></a>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->

    <!-- ##### All Javascript Files ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
</body>

</html>