<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Delicious - Food Blog Template | Home</title>

    <!-- Favicon -->
    <link rel="icon" href="/img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="/style.css">

</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <i class="circle-preloader"></i>
        <img src="/img/core-img/salad.png" alt="">
    </div>

    <!-- Search Wrapper -->
    <!-- <div class="search-wrapper"> -->
        <!-- Close Btn -->
        <!-- <div class="close-btn"><i class="fa fa-times" aria-hidden="true"></i></div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <form action="#" method="post">
                        <input type="search" name="search" placeholder="Type any keywords...">
                        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div> -->

    <!-- ##### Header Area Start ##### -->
    <header class="header-area font">

        <!-- Navbar Area -->
        <div class="delicious-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="deliciousNav">

                        <!-- Logo -->
                        <a class="nav-brand" href="/"><img src="/img/core-img/logo.png" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/upload-receipe.ejs">Upload Receipies</a></li>
                                    <li><a href="/receipe-post.ejs">Receipies</a></li>
                                    <li><a href="/contact.ejs">Contact</a></li>
                                </ul>

                                <!-- Newsletter Form -->
                                <!-- <div class="search-btn">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </div> -->

                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
<!-- ##### Header Area End ##### -->


    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb-area bg-img bg-overlay" style="background-image: url('/img/bg-img/breadcumb3.jpg');">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-text text-center">
                        <h2>Recipe</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

    <div class="receipe-post-area section-padding-80">


       
            <div class="receipe-post-search mb-80">
                <div class="container">
                    <form id="searchForm" action="/receipe-post.ejs/:name" method="get" onsubmit="updateFormAction(event)">
                        <div class="row shadow d-flex"style="align-items:center;justify-content:center;height:120px;position: relative;">
                            <!-- <div class="col-12 col-lg-3"> -->
                                <input type="search" id="searchInput" name="search" placeholder="Enter Receipe Name ..." class="shadow" style="width: 60%;border: 1px solid orange; border-radius: 2px;font-size: 20px;">
                            <!-- </div> -->
                            <!-- <div class="col-12 col-lg-3 text-right"> -->
                                <button type="submit" class="btn delicious-btn" onclick="updateFormAction(event)" >Search</button>
                            <!-- </div> -->
                        </div>
                    </form>
                </div>
            </div>
            
            <% if (receipes && receipes.length > 0) { %>
                <div class="maincont">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-md-8">
                                <% receipes.forEach(recipe => { %>
                                    
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="receipe-slider owl-carousel shadow">
                                                    <% if (recipe.images && recipe.images.length > 0) { %>
                                                        <img src="<%= recipe.images[0].filePath.startsWith('http') ? recipe.images[0].filePath : '/' + recipe.images[0].filePath %>" alt="Recipe Image">
                                                    <% } else { %>
                                                        <p>No image available for this recipe.</p>
                                                    <% } %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    
                                    <div class="receipe-headline my-5">
                                        <h2><%= recipe.receipeName %> (<%= recipe.dishType %>)</h2>
                                        <div class="receipe-duration">
                                            <h6>Prep: <%= recipe.preprationTime %></h6>
                                            <h6>Cook: <%= recipe.cookingTime %></h6>
                                            <h6>Yields: <%= recipe.servings %></h6>
                                        </div>
                                    </div>
            
                                    <!-- Instructions -->
                                    <div class="row">
                                        <div class="col-12 col-lg-8">
                                            <h4>Instructions</h4>
                                            <% recipe.instructions.forEach((instruction, index) => { %>
                                                <div class="single-preparation-step d-flex">
                                                    <h4><%= (index + 1).toString().padStart(2, '0') %>.</h4>
                                                    <p><%= instruction %></p>
                                                </div>
                                            <% }) %>
                                        </div>
            
                                        <!-- Ingredients -->
                                        <div class="col-12 col-lg-4">
                                            <div class="ingredients">
                                                <h4>Ingredients</h4>
                                                <% recipe.ingredients.forEach((ingredient, index) => { %>
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="customCheck<%= index + 1 %>">
                                                        <label class="custom-control-label" for="customCheck<%= index + 1 %>"><%= ingredient %></label>
                                                    </div>
                                                <% }) %>
                                            </div>
                                        </div>
                                    </div>
            
                                    <div class="receipe-headline my-5">
                                        <div class="receipe-duration">
                                            <h5>Created By: <%= recipe.createdBy %></h5>
                                            <h5>Email: <%= recipe.email %></h5>
                                        </div>
                                    </div>
                                <% }) %>
                            </div>
                        </div>
                    </div>
                </div>
            <% } else { %>
                <!-- <p>Oops!!!There is no Receipe.</p> -->
            <% } %>
                                    
             

                <!-- <div class="row">
                    <div class="col-12">
                        <div class="section-heading text-left">
                            <h3>Leave a comment</h3>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="contact-form-area">
                            <form action="#" method="post">
                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        <input type="text" class="form-control" id="name" placeholder="Name">
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <input type="email" class="form-control" id="email" placeholder="E-mail">
                                    </div>
                                    <div class="col-12">
                                        <input type="text" class="form-control" id="subject" placeholder="Subject">
                                    </div>
                                    <div class="col-12">
                                        <textarea name="message" class="form-control" id="message" cols="30" rows="10" placeholder="Message"></textarea>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn delicious-btn mt-30" type="submit">Post Comments</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

       <!-- ##### Footer Area Start ##### -->
       <footer class="footer-area shadow">
        <div class="container h-100"style="display: flex;align-items: center;justify-content: center;">
            <div class="row h-100">
                <div class="col-12 h-100 d-flex flex-wrap align-items-center justify-content-between">
                    <div class="footer-logo">
                        <a href="/"><img src="img/core-img/logo.png" alt=""></a>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->
<!-- ##### All Javascript Files ##### -->
<!-- jQuery-2.2.4 js -->

<script src="/receipe-post.js"></script>
<script src="/js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="/js/bootstrap/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="/js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="/js/plugins/plugins.js"></script>
<!-- Active js -->
<script src="/js/active.js"></script>
</body>

</html>
